#not--signedIn {
    font: san-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10% 40%;
    color: rgb(185, 84, 44);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    
}