#root {
    margin: 0;
    padding: 0;
    
    
}


  
  
  
  
  .formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 500px;
    padding: 60px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
  }
  
  
  
  .formContainer button {
    margin-top: 15px;
    height: 60px;
    width: 100%;
    border: none;
    background-color: lightskyblue;
    border-radius: 5px;
    color: white;
  }

  .footer--registration {
    margin-top: 10px;      
  }
  
  .formContainer button:hover {
    cursor: pointer;
    background-color: dodgerblue;
  }
  
  .span--registration {
    color: red;
  }

  .logo {
      height: 300px;
      
  }

  h1 {
      display: flex;
      justify-content: center;
      margin-bottom: 10%;
  }

  #registration {
      padding: 10px;
      margin: 5px 0px;
      text-indent: 5px;
  }

  .registration--box {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .registration--prime {
    display: flex;
    justify-content: center;
  }

  

  .href {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      text-decoration: none;
  }

  @media only screen and (max-width: 600px) {
    .formContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: auto;
        height: auto;
        padding: 60px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 5px;
      }
    
  }

/* HOME PAGE */

